@model cinema.Models.Film
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu{
    <div class="row-2">
        <ul>
            <li><a href="@Url.Action("Index", "HomePage")">Home</a></li>
            <li><a href="@Url.Action("Index", "Movies")" class="active">Movies</a></li>
            <li><a href="contact-us.html">Contacts</a></li>
            <li><a href="articles.html">My Account</a></li>
            @*<li class="last"><a href="sitemap.html">Sitemap</a></li>*@
        </ul>
    </div>
}

<div id="content">
    <div class="box">
        <div class="border-right">
            <div class="border-left">
                <div class="inner">
                    <h3><b>@Model.Title</b><span></span></h3>
                    <div class="img-box1"><img src="~/Content/images/@Model.Image" alt="" /><p>@Model.ContentFilm</p></div>
                    <div class="book-wrap">
                        <div class="button-book"><a href="@Url.Action("Create", "Book", new { ID = Model.ID })">Book Now!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
    </div>
</div>