@model cinema.ModelsView.TicketView
@{
    ViewBag.Title = "Booking Step 3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu{
    <div class="row-2">
        <ul>
            <li><a href="@Url.Action("Index", "HomePage")">Home</a></li>
            <li><a href="@Url.Action("Index", "Movies")" class="active">Movies</a></li>
            <li><a href="contact-us.html">Contacts</a></li>
            <li><a href="articles.html">My Account</a></li>
            @*<li class="last"><a href="sitemap.html">Sitemap</a></li>*@
        </ul>
    </div>
}

<div id="content">
    <div class="box">
        <div class="border-right">
            <div class="border-left">
                <div class="inner">
                    <h3><b>@Model.Film.Title</b><span class="showtime-label">Ticket Information</span></h3>
                    <div class="img-box1">
                        <img src="~/Content/images/@Model.Film.Image" alt="" />
                        <div class="inforticket-wrap">
                            @using (Html.BeginForm("Step4", "Book", FormMethod.Post, new { id = "form1" }))
                            {
                                @Html.AntiForgeryToken()
                                <div>Movie: @Model.Film.Title</div>
                                <div>Room Name: @Model.Room.Name</div>
                                <div>Time Slot: @Model.Timeslot.BeginTime.ToShortTimeString() - @Model.Timeslot.EndTime.ToShortTimeString()</div>
                                <div>Seat: @Model.Seat.Rowth - @Model.Seat.Columnth</div>
                                <div>Seat Type: @Model.Seattype.Name</div>
                                <div>Total Price: @Model.Ticket.Price</div>
                            }
                        </div>
                    </div>
                    <div class="book-wrap">
                        <div class="button-book" onclick="submitForm()"><a>Confirm & Pay!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
    </div>
</div>
<script>
    function submitForm() {
        document.getElementById("form1").submit();
    }
</script>
