@model IEnumerable<cinema.Models.Seat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "SeatsController", FormMethod.Get))
    {
    <p>
        Title: @Html.TextBox("SearchString")
    </p>
    <p>
        Seattype: @Html.DropDownList("SeattypeID", "All")
    </p>
    <p>
        <input type="submit" value="Search" />
    </p>
}

    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rowth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Columnth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnable)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rowth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Columnth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEnable)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
